<div class="page-title">小カテゴリー編集</div>
<div class="center-block">
	<div class="list-edit-form">
		<%= form_for(@small_category) do |f| %>
			<table>
				<tr>
					<td class="list-edit-form-number"><%= f.text_field :number, size:'2×10' %></td>
					<td><%= f.text_field :name, size:'40' %></td>
				</tr>
				<tr>
					<td></td>
					<td class="list-edit-form-btn"><%= f.submit '変更内容を保存', class: "save-btn btn-layout orange-btn" %></td>
				</tr>
			</table>
		<% end %>
	</div>
</div>