<div>
	<div>
		<div>
			<p>ギフトシーンで検索</p>
			<% @large_scenes.each do |large| %>
				<%= large.name %>
				<% large.small_scenes.each do |small| %>
					<%= small.name %>
				<% end %>
			<% end %>
		</div>
		<div>
			<p>商品カテゴリーで検索</p>
			<% @large_categories.each do |large| %>
				<%= large.name %>
				<% large.small_categories.each do |small| %>
					<%= small.name %>
				<% end %>
			<% end %>
		</div>
	</div>
	<div>
		キーワード検索
	</div>
	<div>
		シーン別ランキング
	</div>
</div>