<div class="center-block">
	<div class="top-right">
		<div class="top-search-block">
			<div class="top-search-scene">
				<div>
					<p>ギフトシーンで検索</p>
				</div>
			</div>
			<% @large_scenes.each do |large| %>
				<div class="top-search-scene">
					<div class="block">
						<p><%= large.name %></p>
					</div>
				</div>
				<% large.small_scenes.each do |small| %>
					<p>・<%= small.name %></p>
				<% end %>
			<% end %>
		</div>
		<div class="top-search-block">
			<div class="top-search-category">
				<div>
					<p>商品カテゴリーで検索</p>
				</div>
			</div>
			<% @large_categories.each do |large| %>
			<div class="top-search-category">
				<div class="block">
					<p><%= large.name %></p>
				</div>
			</div>
				<% large.small_categories.each do |small| %>
					<p>・<%= small.name %></p>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="top-center">
		<div class="top-keyword">
			<!-- シーン別ランキング -->
			シーン別ランキング
		</div>
	</div>
</div>