<div class="center-block-top">
	<div class="top-right">
		<div class="top-search-block">
			<div class="top-search-scene">
				<div>
					<p>ギフトシーンで検索</p>
				</div>
			</div>
			<% @large_scenes.each do |large| %>
				<div class="top-search-scene">
					<div class="block">
						<p><%= large.name %></p>
					</div>
				</div>
				<% large.small_scenes.each do |small| %>
					<p>・<%= link_to small.name, "/posts?utf8=%E2%9C%93&q%5Bsmall_scene_id_eq%5D=#{small.id}q%5Bsmall_category_id_eq%5D=&q%5Bgender_id_eq%5D=&q%5Bage_id_eq%5D=&q%5Bprefecture_id_eq%5D=&q%5Bkeeping_quality_eq%5D=&commit=%E7%B5%9E%E3%82%8A%E8%BE%BC%E3%81%BF" %></p>
				<% end %>
			<% end %>
		</div>
		<div class="top-search-block">
			<div class="top-search-category">
				<div>
					<p>商品カテゴリーで検索</p>
				</div>
			</div>
			<% @large_categories.each do |large| %>
			<div class="top-search-category">
				<div class="block">
					<p><%= large.name %></p>
				</div>
			</div>
				<% large.small_categories.each do |small| %>
					<p>・<%= link_to small.name, "/posts?utf8=%E2%9C%93&q%5Bsmall_scene_id_eq%5D=&q%5Bsmall_category_id_eq%5D=#{small.id}&q%5Bgender_id_eq%5D=&q%5Bage_id_eq%5D=&q%5Bprefecture_id_eq%5D=&q%5Bkeeping_quality_eq%5D=&commit=%E7%B5%9E%E3%82%8A%E8%BE%BC%E3%81%BF" %></p>
				<% end %>
			<% end %>
		</div>
	</div>
	<div class="top-center">
		<div class="top-keyword">
			<!-- シーン別ランキング -->
			シーン別ランキング
		</div>
	</div>
</div>