/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

/*link*/
/*未訪問のリンク*/
a:link { color: #61380B; }
/*訪問済みのリンク*/
a:visited { color: #61380B; }
/*ポイント時のリンク*/
a:hover { color: #8A4B08; }
/*選択中のリンク*/
a:active { color: #8A4B08; }
body {
	color: #3B240B;
}

/*header*/
.header-top {
	height: 70px;
	background-color: pink;
}
.header-side {
	width: 200px;
	margin-top: 48px;
	float: right;
}
.header-top {
  display: block;
  position: relative;
  margin: 0px auto;
  margin-top: 15px;
  padding: 10px 20px;
  height: 70px;
  background: #f79e9e;
  box-sizing: border-box;
  }

.header-top-logo {
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 10px;
  margin: 0;
  padding: 10px 0 7px;
  z-index: 2;
  width: 200px;
  height: 80px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  background: #fa8383;
  border-radius: 2px 0 0 0;
  }

.header-top-logo:before {
  position: absolute;
  content: '';
  top: 0;
  right: -5px;
  border: none;
  border-bottom: solid 6px #d07676;
  border-right: solid 5px transparent;
}

.header-top-logo:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid #fa8383;
}
.header-list {
	height: 230px;
	text-align: center;
	padding: 10px 10px;
}
.header-item {
	width: 200px;
	height: 65px;
    padding: 14px 0.5em;
    margin: 2em 0;
    text-align: center;
    background: #fff8e8;
    box-shadow: 0px 0px 0px 10px #fff8e8;
    border: dashed 2px #fa8383;
}
.header-item p {
    margin: 0;
    padding: 0;
}

/*large_scene large_ctegory new*/
.list-table {
	width: 500px;
	margin: 10px 0;
	background-color: gray;
}
.large-title {
	height: 35px;
	padding-top: 10px;
	border-bottom: solid 2px #cccccc;
}
.large-number {
	width: 20px;
	text-align: center;
}
.large-btn {
	text-align: center;
}
.small-new {
	height: 35px;
}
.small-number {
	padding-right: 10px;
	text-align: right;
}


/*scene ctegory edit*/
.list-edit-form {
	width: 500px;
	height: 120px;
	padding: 30px 10px;
	margin-top: 40px;
	border-radius: 10px;
	background-color: pink;
}
.list-edit-form-number {
	width: 80px;
}

.list-edit-form-btn {
	height: 40px;
	text-align: right;
}

/*その他*/
.center-block {
	margin: 10px 70px;
}
.page-title {
	width: 250px;
	margin: 0 70px;
	padding: 10px 15px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: solid 1px #fc6479;
	border-left: solid 1px #fc6479;
	border-bottom: solid 1px #fc6479;
}
.user-image-large {
	width: 80px;
	height: 80px;
	border-radius: 100px;
}
.user-image-small {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
.price-tax {
	font-size: 10px;
}
.field_with_errors {
	width: 20px;
	float: left;
	background-color: red;
}
.error-box {
	width: 800px;
}

/*icon*/
.icon-btn {
	width: 50px;
	height: 50px;
	margin-left: 5px;
	font-size: 30px;
	border-radius: 100px;
	float: left;
}



/*ボタン*/
/*新規登録*/
.sign-btn {
	margin-top: 10px;
}
/*マイページ編集*/
.setting-btn {
}
/*post new*/
.next-btn {
	margin-top: 30px;
}
/*post_image new*/
.post-image-new-btn {
	margin-top: 20px;
}
.post-btn {
}
/*scene ctegory new*/
.new-btn {
	margin-left: 10px;
}
/*post show/scene ctegory new*/
.edit-btn {
	margin: 0 5px;
}
/*post show/scene ctegory new/ user delete*/
.delete-btn {
	margin: 0 5px;
}
/*scene ctegory edit*/
.save-btn {}


/*user index*/
.userpage-btn {}