/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bxslider
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

/*link*/
/*未訪問のリンク*/
a:link { color: #61380B; }
/*訪問済みのリンク*/
a:visited { color: #61380B; }
/*ポイント時のリンク*/
a:hover { color: #8A4B08; }
/*選択中のリンク*/
a:active { color: #8A4B08; }
body {
	color: #3B240B;
}

/*header*/
.header-top {
	height: 70px;
	background-color: pink;
}
.gifton-logo{
	font-size: 40px;
	font-family: "M+ 2m"; font-weight:700;
}

.header-side {
	width: 200px;
	margin-top: 48px;
	float: right;
}
.header-top {
  display: block;
  position: relative;
  margin: 0px auto;
  margin-top: 15px;
  padding: 10px 20px;
  height: 70px;
  background: #f79e9e;
  box-sizing: border-box;
  }

.header-top-logo {
  display: inline-block;
  position: absolute;
  top: -6px;
  right: 10px;
  margin: 0;
  padding: 10px 0 7px;
  z-index: 2;
  width: 200px;
  height: 80px;
  text-align: center;
  color: #ffffff;
  font-size: 13px;
  background: #fa8383;
  border-radius: 2px 0 0 0;
  }

.header-top-logo:before {
  position: absolute;
  content: '';
  top: 0;
  right: -5px;
  border: none;
  border-bottom: solid 6px #d07676;
  border-right: solid 5px transparent;
}

.header-top-logo:after {
  content: '';
  position: absolute;
  left: 0;
  top: 100%;
  height: 0;
  width: 0;
  border-left: 100px solid transparent;
  border-right: 100px solid transparent;
  border-top: 50px solid #fa8383;
}

.header-item {
	width: 200px;
	height: 65px;
    padding: 0px 5px;
    margin: 2em 0;
    text-align: center;
    background: #fff8e8;
    box-shadow: 0px 0px 0px 10px #fff8e8;
    border: dashed 2px #fa8383;
    position:relative
}
.header-item p {
	width: 170px;
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	margin: 0;
    padding: 0;
}

.header-item-myclip {
	width: 130px;
	display: inline-block;
}
.header-item-small-font {
	font-size: 13px;
}


/*large_scene large_ctegory new*/
.list-table {
	width: 550px;
	margin: 10px 0;
	border: solid 2px #dddddd;
	background-color: #fff8e8;
}
.large-title {
	height: 35px;
	padding-top: 10px;
	border-bottom: solid 2px #cccccc;
}
.large-number {
	width: 20px;
	text-align: center;
}
.large-btn {
	text-align: center;
}
.small-new {
	height: 35px;
}
.small-number {
	padding-right: 10px;
	text-align: right;
}


/*scene ctegory edit*/
.list-edit-form {
	width: 500px;
	height: 120px;
	padding: 30px 10px;
	margin-top: 40px;
	border-radius: 10px;
	background-color: pink;
}
.list-edit-form-number {
	width: 80px;
}

.list-edit-form-btn {
	height: 40px;
	text-align: right;
}

/*その他*/
.center-block {
	width: 980px;
	margin: 10px 70px;
}
.page-title {
	width: 250px;
	margin: 0 70px;
	padding: 10px 15px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	border-right: solid 1px #fc6479;
	border-left: solid 1px #fc6479;
	border-bottom: solid 1px #fc6479;
}

.user-image-large {
	width: 80px;
	height: 80px;
	border-radius: 100px;
}
.user-image-small {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
.user-no-image {
	border: solid 1px #dddddd;
	background-color: #fff;
}

.price-tax {
	font-size: 10px;
}
.field_with_errors {
	width: 20px;
	float: left;
	background-color: red;
}
.error-box {
	width: 800px;
}

/*kaminari*/
.paginate-block{
	width: 100%;
	margin: 10px auto;
	text-align: center;
	float: left;
}



/*icon*/
.icon-btn {
	width: 50px;
	height: 50px;
	margin-left: 5px;
	font-size: 30px;
	border-radius: 100px;
	float: left;
}



/*ボタン*/
.btn-layout {
	display: inline-block;
  	padding: 0.3em 1em;
  	text-decoration: none;
  	border-radius: 3px;
  	transition: .4s;
  	background-color: white;
}
/*.btn-layout:hover {
	color: white;
}*/


/*色分け*/
.pink-btn {
  	color: #fa8383;
  	border: solid 2px #fa8383;
}
.pink-btn:hover {
	color: white;
	background: #fa8383;
}

.orange-btn {
  	color: #ffaf6e;
  	border: solid 2px #ffaf6e;
}
.orange-btn:hover {
	color: white;
	background: #ffaf6e;
}


/*新規登録*/
.sign-btn {
	margin-top: 10px;
	color: #fa8383;
  	border: solid 2px #fa8383;
}
.sign-btn:hover {
	color: white;
	background: #fa8383;
}
/*マイページ編集*/
.setting-btn {
	margin: 5px 10px;
}
/*post new*/
.next-btn {
	margin-top: 30px;
}
/*post_image new*/
.post-image-new-btn {
	margin-top: 20px;
}
.post-btn {
	height: 40px;
	width: 400px;
	padding-top: 8px;
}
/*scene ctegory new*/
.new-btn {
	margin-left: 10px;
}
/*post show/scene ctegory new*/
.edit-btn {
	margin: 0 5px;
	color: #FE2E2E;
	background-color: #fc9f9f;
  	border: solid 2px #FE2E2E;
}
.edit-btn:hover {
	color: white;
	background: #FE2E2E;
}
/*post show/scene ctegory new/ user delete*/
.delete-btn {
	margin: 0 5px;
	margin: 0 5px;
	color: #D358F7;
	background-color: #e2aef2;
  	border: solid 2px #D358F7;
}
.delete-btn:hover {
	color: white;
	background: #D358F7;
}
/*scene ctegory edit*/
.save-btn {}


/*user index*/
.userpage-btn {
	font-size: 13px;
}

/*user lnquiry*/
.lnquiry-form-btn, .user-delete {
	width: 200px;
	height: 50px;
	margin-top: 100px;
	padding-top: 13px;
	text-align: center;
}

.menu-item {
	width: 150px;
	height: 50px;
	text-align: center;
	padding-top: 13px;
	margin: 10px 5px;
}

.back-btn {
	margin: 0 5px;
	color: #fff8e8;
  	border: solid 2px #fff8e8;
}
.back-btn:hover {
	color: #61380B;
	background: #fff8e8;
}