/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap-sprockets";
 @import "bootstrap";

 * {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}

/*header*/
.header-top {
	height: 70px;
	background-color: pink;
}
.header-search {
	width: 400px;
	margin: 25px 70px;
	float: left;
	background-color: red;
}
.header-side {
	width: 200px;
	float: right;
	background-color: gray;
}
.header-logo {
	width: 200px;
	float: right;
	background-color: gray;
}
.header-item {
	width: 170px;
	height: 50px;
	margin: 10px auto;
	padding-top: 15px;
	text-align: center;
	background-color: blue;
}
/*その他*/
.center-block {
	margin: 10px 70px;
}
.page-title {
	width: 250px;
	margin: 0 70px;
	padding: 10px 15px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	background-color: red;
}
.user-image-large {
	width: 80px;
	height: 80px;
	border-radius: 100px;
}
.user-image-small {
	width: 40px;
	height: 40px;
	border-radius: 100px;
}
.price-tax {
	font-size: 10px;
}