.myclip-count {
	width: 25px;
	height: 25px;
	padding-top: 3px;
	border-radius: 100px;
	display: inline-block;
}
.myclip-count-white {
	background-color: #ffffff;
	color: #fa8383;
}
.myclip-count-pink {
	background-color: #f79e9e;
	color: #ffffff;
}