.manager-menu {
	width: 880px;
	padding-top: 20px;
	padding-bottom: 30px;
	border: solid 1px #dddddd;
	background-color: #fff8e8;
}
.manager-menu div {
	width: 700px;
	margin: 0 auto;
}
.manager-menu-title {
	font-weight: bold;
}