/*top*/
.top-right {
	width: 300px;
	border: solid 1px #cccccc;
	float: left;
}
.top-search-block {
	width: 290px;
	margin: 0 auto;
}
.top-search-scene {
	width: 290px;
	height: 20px;
	margin: 5px 0;
	background-color: red;
}
.top-search-category {
	width: 290px;
	height: 20px;
	margin: 5px 0;
	background-color: blue;
}
.block {
	height: 100%;
	background: rgba(255,255,255,0.7);
}
.top-center {
	width: 680px;
	margin: 0 10px;
	float: left;
	background-color: green;
}
/*post index*/
.post-index-block {
	width: 300px;
	height: 500px;
	margin: 15px 15px;
	float: left;
}
.post-index {
	padding-left: 8px;
}
.post-index-box1 {
	height: 70px;
	background-color: pink;
}
.post-index-stance {
	width: 100px;
	text-align: center;
	border: solid 1px #cccccc;
	border-radius: 5px;
	padding: 5px 5px;
	font-size: 10px;
	display: inline-block;
}
.post-index-time {
	width: 185px;
	text-align: right;
	display: inline-block;
}
.post-index-box2 {
	background-color: gray;
}
.post-index-scene {
	height: 25px;
}

.post-index-box3 {
	width: 300px;
	height: 300px;
	margin: 0 auto;
	position: relative;
	background-color: green;
}
.post-index-tnc {
	border: solid 1px #cccccc;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	margin-top: 5px;
	padding: 5px 5px;
	font-size: 10px;
}
.post-index-box3 p {
	position: absolute;
	top: 230px;
	left: 120px;
}
.post-index-box4 {
	background-color: orange;
}
.post-index-box5 {
	background-color: blue;
}
.post-index-maker {
	width: 200px;
	font-size: 13px;
	display: inline-block;
}
.post-index-prefecture {
	width: 70px;
	text-align: center;
	border: solid 1px #cccccc;
	border-radius: 5px;
	display: inline-block;
}
.post-index-item {
	width: 180px;
	display: inline-block;
}
.post-index-price {
	width: 100px;
	text-align: right;
	display: inline-block;
}
.post-index-box6 {
	height: 50px;
	font-size: 13px;
	background-color: red;
}
.post-index-rating {
	width: 60px;
	text-align: center;
	float: left;
	background-color: pink;
}
.post-index-review {
	width: 230px;
	float: left;
	background-color: gray;
}


/*post show*/
.post-show-block1 {
	width: 400px;
	height: 550px;
	float: left;
}
.post-show-box1{
	width: 400px;
	float: left;
	background-color: red;
}
.image-float {
	float: left;
}
.post-show-user-name {
	width: 300px;
	margin-top: 20px;
	margin-left: 10px;
	font-size: 20px;
	float: left;
	background-color: green;
}
.post-show-created-time {
	width: 180px;
	margin-top: 5px;
	float: right;
	background-color: orange;
}
.post-show-box2{
	width: 400px;
	float: left;
	background-color: pink;
}
.post-show-box3{
	width: 400px;
	float: left;
	background-color: gray;
}
.post-show-target {
	width: 50px;
	float: left;
}
.post-show-box4{
	width: 400px;
	margin: 0 50px;
	float: left;
	background-color: green;
}
.post-show-block2 {
	width: 500px;
	height: 550px;
	float: left;
	background-color: #bbbbbb;
}
.post-show-box5{
	width: 400px;
	float: left;
	background-color: orange;
}
.post-show-box6{
	width: 400px;
	height: 180px;
	float: left;
	padding: 10px 10px;
	margin: 5px 50px;
	border: solid 1px #cccccc;
	border-radius: 8px;
}
.post-show-rating1 {
	width: 300px;
	height: 150px;
	padding: 20px 10px;
	float: left;
	background-color: pink;
}
.post-show-rating1 th {
	font-size: 18px;
	text-align: center;
}
.rating-count {
	width: 30px;
}
.post-show-rating2 {
	width: 75px;
	height: 75px;
	margin: 40px 0;
	float: left;
	padding-top: 10px;
	text-align: center;
	border-radius: 100px;
	background-color: yellow;
}
.post-show-rating-title {
	font-size: 13px;
}
.post-show-rating-total {
	font-size: 20px;
	font-weight: bolder;
}
.post-show-box7{
	width: 400px;
	float: left;
	background-color: blue;
}
.post-show-box8{
	width: 900px;
	float: left;
	background-color: red;
}

/*post new*/
.post-new-block1{
	width: 500px;
	height: 400px;
	float: left;
	background-color: pink;
}
.post-new-box1 {
	width: 500px;
}
.post-new-box2 {
	width: 500px;
}
.table-height {
	height: 35px;
}
.table-height-low {
	height: 12px;
}
.post-new-maker-name {
	font-size: 12px;
}
.post-new-block2 {
	width: 450px;
	float: left;
	background-color: #dddddd;
}
.post-new-rating {
	background-color: yellow;
}
.post-new-rating tr {
	height: 30px;
}
.post-new-rating td {
	width: 180px;
	text-align: center;
}
.post-new-rating th {
	width: 35px;
}
.post-new-block3 {
	width: 450px;
	height: 250px;
	float: left;
	background-color: #aaaaaa;
}
.post-new-block3 textarea {
	width: 400px;
	height: 200px;
	margin-left: 20px;
}
.need-new-item {
	color: red;
}
.care-item {
	padding-top: 10px;
}
.care-comment {
	font-size: 10px;
	color: #FE2E64;
}
.post-new-block4 {
	width: 800px;
}
