/*post_image new*/
.pimage-new-box1 {
	width: 400px;
	height: 200px;
	padding: 40px 20px;
	float: left;
	border: solid 1px #dddddd;
	background-color: #fff8e8;
}
.post-image-view {
	width: 100px;
	height: 100px;
}
.pimage-new-box2 {
	width: 380px;
	padding: 5px 20px;
	margin-left: 100px;
	float: left;
	background-color: #fff8e8;
}
.pimage-new-create-image {
	width: 350px;
	padding: 10px 20px;
	border: solid 1px #cccccc;
	border-radius: 10px;
}
.pimage-new-create-image td {
	width: 150px;
	height: 110px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.pimage-new-box3 {
	margin: 20px 280px;
	width: 300px;
	text-align: center;
	float: left;
	background-color: orange;
}