/*新規登録*/
.sign-btn-block {
	margin-top: 20px;
}

/*マイページ*/
.mypage-block {
	width: 1000px;
	height: 120px;
}
.mypage-box1 {
	width: 80px;
	height: 120px;
	float: left;
	background-color: pink;
}
.mypage-box2 {
	width: 450px;
	height: 120px;
	float: left;
	padding: 5px 5px;
	background-color: gray;
}
.mypage-user-name {
	font-size: 25px;
	font-weight: 60px;
	margin-left: 10px;
}
.mypage-count {
	margin-left: 10px;
}
.mypage-count td {
	padding: 0 5px;
	text-align: center;
}
.mypage-box3 {
	width: 350px;
	height: 120px;
	margin-left: 10px;
	border-radius: 5px;
	float: left;
	padding: 5px 5px;
	font-size: 12px;
	background-color: orange;
}
.mypage-box4 {
	width: 1000px;
	border-top: solid 1px #cccccc;
}
.mypage-posts {
	width: 150px;
	height: 40px;
	padding-top: 10px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	display: inline-block;
	background-color: green;
}
/*マイページ編集*/
.user-edit-info {
	width: 300px;
	height: 250px;
	float: left;
	background-color: pink;
}
.user-edit-introduction {
	width: 450px;
	height: 250px;
	float: left;
	padding-left: 20px;
	background-color: gray;
}
.introduction-area {
	width: 400px;
	height: 200px;
}
.user-edit-btn {
	width: 800px;
}
.user-delete-btn {
	width: 800px;
	margin-top: 100px;
}

/*ユーザーリスト*/
.user-index-table tr {
	height: 45px;
	border-bottom: solid 1px #cccccc;
}
.user-table-title {
	width: 100px;
	text-align: center;
	background-color: pink;
}
.user-table-title-name {
	width: 200px;
	background-color: pink;
}
.user-table-item {
	width: 100px;
	text-align: center;
}