/*マイページ*/
.mypage-block {
	width: 1000px;
	height: 120px;
}
.setting-btn {
	width: 80px;
	text-align: center;
	margin-top: 10px;
}
.mypage-box1 {
	width: 80px;
	float: left;
	background-color: pink;
}
.mypage-box2 {
	width: 450px;
	height: 120px;
	margin-left: 30px;
	float: left;
	padding: 5px 5px;
	background-color: gray;
}
.mypage-user-name {
	font-size: 25px;
	font-weight: 60px;
}
.mypage-count td {
	padding: 0 5px;
	text-align: center;
}
.mypage-box3 {
	width: 350px;
	height: 120px;
	margin-left: 10px;
	border-radius: 5px;
	float: left;
	padding: 5px 5px;
	font-size: 12px;
	background-color: orange;
}
.mypage-box4 {
	width: 1000px;
	border-top: solid 1px #cccccc;
}
.mypage-posts {
	width: 150px;
	height: 40px;
	padding-top: 10px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: green;
}