/*新規登録*/
.user-sign-left {
	width: 300px;
	height: 400px;
	padding: 20px 15px;
	background-color: #fff8e8;
	border: solid 1px #fc6479;
	border-radius: 5px;
	float: left;
}
.user-sign-right {
	width: 560px;
	height: 350px;
	margin-left: 120px;
	float: left;
}
.sign-btn-block {
	margin-top: 20px;
}
.sign-pr-title {
	font-size: 19px;
	padding: 0 15px;
	padding-top: 10px;
}
.sign-pr {
	width: 220px;
	height: 130px;
	margin: 10px 15px;
	float: left;
}
.sign-pr i {
	height: 70px;
	padding-top: 20px;
	font-size: 40px;
}
.pr-point {
	padding: 10px 10px;
	border-radius: 5px;
	border: solid 1px #fc6479;
	text-align: center;
}
.pr-title {
	font-weight: bold;
}
.sign-btn-block {
	font-size: 12px;
}
/*ログイン*/
.sign-in-pr {
	width: 400px;
	text-align: center;
	border-top: solid 1px #fc6479;
	border-bottom: solid 1px #fc6479;
	background-color: rgba(255,255,255,0.7);
}
.sign-in-pr i {
	font-size: 50px;
	margin: 15px 20px;
}
.sign-in-pr p {
	margin: 10px 20px;
}
.gifts-image {
	width: 400px;
	opacity: 0.5;
}
.sign-in-image {
	width: 400px;
	position: relative;
}
.sign-in-image div {
	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%,-50%);
  	-webkit-transform: translate(-50%,-50%);
  	transform: translate(-50%,-50%);
  	margin:0;
  	padding:0;
}


/*マイページ*/
.mypage-block {
	width: 1000px;
	height: 120px;
}
.mypage-box1 {
	width: 80px;
	height: 120px;
	float: left;
}
.mypage-setting {
	width: 80px;
	text-align: center;
	margin-top: 10px;
}
.mypage-box2 {
	width: 450px;
	height: 120px;
	float: left;
	padding: 5px 5px;
}
.mypage-user-name {
	font-size: 25px;
	font-weight: 60px;
	margin-left: 10px;
}
.mypage-count {
	margin-left: 10px;
}
.mypage-count td {
	padding: 0 5px;
	text-align: center;
}
.mypage-box3 {
	width: 350px;
	height: 120px;
 	position: relative;
 	display: inline-block;
  	margin: 1.5em 0 1.5em 15px;
  	padding: 7px 10px;
  	min-width: 120px;
  	max-width: 100%;
  	color: #555;
  	font-size: 12px;
  	border-radius: 5px;
  	float: left;
  	background: #ffdde2;
}

.mypage-box3:before {
  	content: "";
	position: absolute;
	top: 50%;
	left: -30px;
	margin-top: -15px;
	border: 15px solid transparent;
	border-right: 15px solid #ffdde2;
}

.mypage-box3 p {
  	margin: 0;
  	padding: 0;
}
.mypage-box4 {
	width: 980px;
	border-top: solid 1px #cccccc;
}
.mypage-menuber {
	width: 100%;
	height: 75px;
}
.mypage-menu {
	width: 150px;
	height: 40px;
	padding-top: 10px;
	margin: 0 3px;
	text-align: center;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	float: left;
	position:relative
}
.mypage-menu p {
	position:absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.mypage-item {
	width: 150px;
}
.mypage-chose {
	background-color: #f79e9e;
	color: #ffffff;
}
.mypage-link {
	background-color: #dddddd;
}

/*マイページ編集*/
.user-edit-info {
	width: 300px;
	height: 250px;
	float: left;
	padding-left: 20px;
	border: solid 1px #dddddd;
	background-color: #fff8e8;
}
.user-edit-introduction {
	width: 450px;
	height: 250px;
	float: left;
	padding-left: 20px;
	margin-left: 10px;
	border: solid 1px #dddddd;
	background-color: #fff8e8;
}
.user-edit-item {
	height: 30px;
}

.introduction-area {
	width: 400px;
	height: 200px;
}
.user-edit-btn {
	width: 800px;
	margin-top: 20px;
	float: left;
}
.user-delete-btn {
	width: 800px;
	margin-top: 100px;
}

/*ユーザーリスト*/
.user-index-table{
	background-color: #fff8e8;
}
.user-index-table tr {
	height: 45px;
	border-bottom: solid 1px #f79e9e;
}
.user-table-title {
	width: 100px;
	text-align: center;
	background-color: #f79e9e;
}
.user-table-title-name {
	width: 200px;
	background-color: #f79e9e;
}
.user-table-item {
	width: 100px;
	text-align: center;
}

/*lnquiry*/
.lnquiry-block {
	width: 800px;
	height: 200px;
	border-bottom: solid 2px #dddddd;
}
.lnquiry-box1 {
	width: 300px;
	height: 200px;
	padding-top: 80px;
	text-align: center;
	float: left;
}
.lnquiry-box2 {
	width: 500px;
	height: 200px;
	padding-top: 100px;
	text-align: center;
	float: left;
}